* {
 box-sizing: border-box;
}

body {
 margin: 0;
 padding: 0;
 position: relative;
}

a {
 text-decoration: none;
 color: #000;
}

#nav-bar{
 width: 100%;
 background: #dee2e4;
 position: fixed;
 top:0px;
 padding: .5rem 4rem;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

#nav-bar ul {
 display: flex;
}
#nav-bar img {
 width: 200px;
 height: 50px;
}

#nav-bar ul li{
 list-style-type: none;
 padding: .5rem 1rem;
 transition: all .5s ease-in-out;
}

#nav-bar ul li:hover{
 background: #a17624;
 color: #fff;
}

#nav-bar ul li:hover a{
 color: #fff;
}

#form-section {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 width: 100%;
 height: 500px;
}

#form {
 display: flex;
 flex-direction: column;
 align-items: center;
}

#form #email {
 width: 300px;
 padding: .5rem .2rem;
}

#form #submit {
 background: #a17624;
 padding: .5rem 2rem;
 color: #fff;
 border: 0;
 font-size: 1.2rem;
 margin: 1rem 0;
 border-radius:5px;
}


#how-it-works {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

#features {
 width: 60%;
 margin: 0 auto;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 padding-bottom: 4rem;
}

#features .item {
 width: 100%;
 display: flex;
 align-items: center;
}

#features .item .icon{
 font-size: 2rem;
 margin-right: 2rem;
}

#pricing{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    width: 70%;
    margin: 0 auto;
    grid-gap: 20px;
    padding:4rem 0rem; 
}
.product{
    text-align: center;
    border:1px solid rgb(139, 139, 21);
    padding-bottom: 2rem;
    
}
.instrument{
    margin-top:0px;
    font-size:15px;
    background-color:gray;
    padding:10px 0px;
}
.product button{
    padding: 5px 15px;
    background-color: yellow;
    border:2px solid black;
    border-radius: 5px;
}
footer p{
    display: inline-block;
    margin:10px 15px;
}

@media only screen and (min-width:768px ){
 #pricing{
  display: grid;
  grid-template-columns: repeat(3,1fr);
 }
}
